/**
 * -------------------------------------------------------------
 *
 *         Name: COLORS
 *  Description: Global COLORS
 *
 * -------------------------------------------------------------
 */


$color: (
  white:            #ffffff,
  orange:           #f58423,
  dark-orange:      #ef8026,
  dark-orange2:	    #e56035,
  light-gray:       #dcdad7,
  light-gray2:	    #979290,
  light-gray3:      #cacaca,
  light-gray4:      #f3f2ee,
  dark-gray:        #989898,
  black:            #000000,
  black1:           #312f2e,
  blue:             #056f9d,
  sky-blue:         #e6f1f9,
  royal-blue:       #056f9d,
  dark-royal-blue:  #155072,
  cream-white:      #f6edc9,
  cream-white2:     #F5E398,
  green:            #73a746
);
