.ciab-confirmation-container.ti {
  .section {
    &-wrapper {
      width: 80%;
      td, p {
        font-size: 14px;
      }
      @media only screen and (max-width: #{$global-breakpoint}) {
        width: 90%;
      }
    }

  }
  .section-header {
    border-bottom: 1px solid #eee;
    td {
      vertical-align: bottom;
    }
    h6 {
      font-size: 18px;
      font-weight: bold;
      margin: 20px 0 0 0;
    }
    img {
      display: inline;
      max-height: 60px;
    }
  }

  .section-subheader {
    p {
      margin: 8px 0 0 0;
    }
  }

  .text-right a{
    color: map-get( $color, green );
    font-weight:bold;
  }

  .section-summary {
    border-top: 1px solid #eee;
    p {
      margin-bottom: 15px;
    }
  }

  .order-summary{
    border-top:2px solid #000;
    p {
      margin-top: 15px;
    }
  }
  .section-terms{
    width: 86%;
    margin: 28px auto 10px;
    p{
      font-size: 13px;
    }
    .notes p{
      margin-bottom: 0;
    }
    .terms a{
      color: map-get( $color, blue );
      text-decoration: underline;
    }
  }
}