.pl-abandon {
  .ciab-header-banner {
    h1.header-headline {
      font-weight: bold !important;

      a {
        color: white;
        font-weight: bold;
      }
    }

  }

  .banner-description {
    td {
      padding-left: 0;
    }
  }
}

.container--pl {
  table.product--cc {
    table.product-row.show-for-desktop {
      td.data-row {
        small {
          // height: 20px !important;
          // max-height: 45px !important;
          // min-height: 20px !important;
        }
      }
    }
  }
}

.product--pl {

  background-color: #f3f2ee !important;


  .provider-name {
    width: 100%;
    font-size: 13px;
  }

  .provider-footer {
    font-size: 12px;
    color: gray;
    font-style: italic;
    width: auto;
    height: auto;
    left: 0;
    @media only screen and (max-width: #{$global-breakpoint}) {
      width: 92% !important;
      color: map-get( $color, blue ) !important;
      background-color: transparent !important;
      position: relative !important;
      padding: 10px 0 2px 8px !important;
      margin-left: 0 !important;
      font-weight: bold !important;
    }
  }


  .columns {
    padding-top: 16px;
    padding-bottom: 6px;
    &:last-child {
      padding-top: 0px;
    }
    &.data-column {
      p {
        font-weight: bold;
      }

    }


  }

  .eligibility-icon {
    height: 40px;
  }

  &.featured table.product-row {
    background-color: #f6edc9;
    //border: 1px solid #facb1a;
    //border-bottom: 1px solid #facb1a;
    border-bottom: 2px solid white;

  }

  &.general table.product-row {
    background-color: white;
    border: none;
  }


  .column-value {
    margin-bottom: 0;
  }

  .column-value-description {
    font-weight: normal;
    color: gray;
    font-size: 12px;
  }

  // CTA button
  .apply-button-container {
    text-align: center;

    .apply-button,
    .apply-button:active,
    .apply-button:link,
    .apply-button:visited {
      @extend .cta-button;
      font-size: 14px;
      width: 68%;
      @include vendor-prefixed( box-shadow, map-get( $color, dark-orange2 ) 0px 5px 0px );
    }
  }
}
