<container class="ciab-header">
	<table>
	  <tr class="ciab-header-ci-wrapper">
	    <td class="large-4 show-for-large">
				<img class="ciab-header-vertical-logo" src="{{config.header.headerVerticalLogoPath}}">
			</td>
			<td class="large-4 small-6">
			  <center>
			    <img class="ciab-header-logo" src="{{config.header.headerLogoPath}}">
			  </center>
			</td>
			<td class="large-4 small-6">
			 	<a class="ciab-header-link-text text-right" href="{{{config.header.headerLink}}}">
			    {{config.header.headerLinkText}}
			  </a>
			</td>
		</tr>
	</table>
</container>
