<container class="ciab-header-survey">
  <table class="ciab-header-banner-wrapper collapse">
    <tr>
      <td class="large-10 small-12 padding-0-xs">
        <h1 class="header-headline">
          {{{config.headerSurvey.headlineSurvey1}}}
        </h1>

        {{#if config.headerSurvey.headlineSurvey2}}
          <p class="header-banner-text text-white">{{{config.headerSurvey.headlineSurvey2}}}</p>
        {{/if}}

        {{#if config.headerSurvey.headlineSurvey3}}
          <p class="header-banner-text-small text-white">{{{config.headerSurvey.headlineSurvey3}}}</p>
        {{/if}}

      </td>
    </tr>
  </table>
</container>