<center class="common-cross-sell">
  <container>
    <spacer size="30"></spacer>
    <container class="test">
    <row class="title-customer"> 
    <columns small="12" large="12">
    <p class="text-size">{{{config.header.title}}}</p>
     <p class="text-size-intro">{{{config.header.subtitle}}}</p>
    </columns>
    </row>

    <row class="product-title">
      <columns>
        <p>{{config.header.ProductTitle_1}}</p>
      </columns>
    </row>
  
    <row class="credit-card-image">
    <columns small="12" large="6">
        <img src="{{config.header.Product_img_url_1}}">
    </columns>
    <columns small="12" large="6" class="middle">
    <row>  
    <ul class="text-features"> 
    <li> <span> {{config.header.Product_usp_1_1}} </span> </li>
    <li> <span> {{config.header.Product_usp_2_1}}</span> </li> 
    <li> <span> {{config.header.Product_usp_3_1}} </span></li>
    </ul>
    </row>
    </columns>
    </row>
      
      <spacer size="5"></spacer>

    </container>
    <spacer size="10"></spacer>
    <container class="api-product-info-container">
      <row>
        <columns>
          <button href="{{{config.header.button_url_1}}}" class="btn-orange-primary-normal large radius expanded">{{{config.header.button_content_1}}}</button>
        </columns>
      </row>

      <hr class="separator-line"/>

      <spacer size="20"/>

       
    <row class="product-title">
      <columns>
        <p>{{config.header.ProductTitle_2}}</p>
      </columns>
    </row>

    <row class="credit-card-image">
    <columns small="12" large="6">
        <img src="{{config.header.Product_img_url_2}}">
    </columns>
    <columns small="12" large="6" class="middle">
    <row>  
    <ul class="text-features"> 
    <li> <span> {{config.header.Product_usp_1_2}} </span> </li>
    <li> <span> {{config.header.Product_usp_2_2}}</span> </li> 
    <li> <span> {{config.header.Product_usp_3_2}} </span></li>
    </ul>
    </row>
    </columns>
    </row>
      
      <spacer size="5"></spacer>

    </container>
    <spacer size="10"></spacer>
    <container class="api-product-info-container">
      <row>
        <columns>
          <button href="{{{config.header.button_url_2}}}" class="btn-orange-primary-normal large radius expanded">{{{config.header.button_content_2}}}</button>
        </columns>
      </row>

      <hr class="separator-line"/>

      <spacer size="20"/>


    <row class="product-title">
      <columns>
        <p>{{config.header.ProductTitle_3}}</p>
      </columns>
    </row>

    <row class="credit-card-image">
    <columns small="12" large="6">
        <img src="{{config.header.Product_img_url_3}}">
    </columns>
    <columns small="12" large="6" class="middle">
    <row>  
    <ul class="text-features"> 
    <li> <span> {{config.header.Product_usp_1_3}} </span> </li>
    <li> <span> {{config.header.Product_usp_2_3}}</span> </li> 
    <li> <span> {{config.header.Product_usp_3_3}} </span></li>
    </ul>
    </row>
    </columns>
    </row>
      
      <spacer size="5"></spacer>

    </container>
    <spacer size="10"></spacer>
    <container class="api-product-info-container">
      <row>
        <columns>
          <button href="{{{config.header.button_url_3}}}" class="btn-orange-primary-normal large radius expanded">{{{config.header.button_content_3}}}</button>
        </columns>
      </row>
      
      <hr class="separator-line"/>
      <row class="button-intro"> 
      <columns small="12" large="12">
      <p> {{config.guide.intro}} </p>
      </columns>
      </row> 
        <row>
      <columns>
          <p class="text-size"> {{config.guide.text1}} <a class="guide-link" href="{{{config.guide.link}}}">{{config.guide.link_title}}</a> {{config.guide.text2}} </p>
        </columns>
        </row>
        <spacer size="10"></spacer>
    </container>
  </container>

</center>
