<center class="pl-abandon-checkout">
  <container>
    <spacer size="30"></spacer>
    <container class="test">
    <row class=title-customer> 
    <columns small="12" large="12">
    <p class="text-size">{{{config.header.title}}}</p>
    </columns>
    </row>
    <row> 
    <columns small="12" large="12">
    <p class="text-size"> {{{config.header.introText}}} </p>
    </columns>
    </row>
    </container>
    <spacer size="10"></spacer>
    <container class="api-product-info-container">
      
      <row class="button-intro">
        <columns>
          <p>{{config.apiDescriptions.buttonTitle}}</p>
        </columns>
      </row>
      <row>
        <columns>
          <button href="{{{config.apiProductInfo.statusPageUrl}}}" class="btn-orange-primary-normal large radius expanded">{{config.apiDescriptions.buttonContent}}</button>
        </columns>
      </row>
    </container>
  </container>
</center>
